* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

body {
}

/* Header and hero section - Braden Chance */

.background-img {
    background-image: url(images/headphones_hero_1.jpg);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5%;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.logo img {
    height: 32px;
    width: 161px;
}

.header-links {
    display: flex;
    font-size: 12px;
    font-weight: bold;
    list-style: none;
    gap: 45px;
}

.header-links a {
    text-decoration: none;
    display: flex;
    justify-content: space-evenly;
    color: #FFFFFF;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 20%;
}

.hero-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFFFFF;
}

.hero-title {
    width: 578px;
    height: 40px;
    margin-top: 1%;
    font-size: 32px;
    font-weight: bold;
}

.hero-subtitle {
    height: 20px;
    width: 355px;
    font-size: 16px;
    font-weight: bold;
}

.hero-info {
    max-width: 637px;
    margin-top: 7%;
    font-size: 16px;
    line-height: 2;
}

.hero-btn {
    height: 44px;
    width: 162px;
    background-color: #FF6565;
    color: #FFFFFF;
    border-radius: 22px;
    border: none;
    margin: 30px 0;
    font-size: 16px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.menu-icon,
.menu-toggle
{
    display: none;
}

/* Results section - Braden Chance */

.our-results {
    background-image: url('images/headphones_hero_2.jpg');
    background-position: center;
    background-size: cover;
    height: 650px;
    max-width: 100%;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.results-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.our-results h1 {
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 3%;
    margin-top: 5%;
}

.our-results p {
    font-size: 16px;
    width: 637px;
    margin-bottom: 3%;
    line-height: 2;
}

.results {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 0 auto;
}

.result-shapes {
    position: relative;
    text-align: center;
    width: 190px;
}

.result-shapes img {
    width: 100%;
    height: auto;
}

.result-shapes h1,
.result-shapes p {
    position: absolute;
    width: 100%;
}

.result-shapes h1 {
    top: 25%;
    left: 50%;
    transform: translate(-50%);
    font-size: 46px;
    font-weight: bold;
}

.result-shapes p {
    top: 60%;
    left: 50%;
    transform: translate(-50%);
    font-size: 14px;
    white-space: nowrap;
}

/* Footer section - Braden Chance */

.footer {
    background-color: #071629;
    width: 100%;
    height: 249px;
    display: flex;
    flex-direction: column;
}

.footer-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.foot-logo {
    display: flex;
    justify-content: center;
    gap: 50%;
    margin-top: 7%
}

.logo_headphones {
    width: 161px;
    height: 32px;
}

.socials {
    display: flex;
    gap: 20px;
}

.copyright {
    color: rgba(255, 255, 255, 0.3);
    display: flex;
    justify-content: center;
    margin-top: 3%;
}

@media (max-width: 768px) {
    /* 
    Tablet view
    header and hero section - Braden Chance
    */

    .background-img {
        height: 869px;
        max-width: 100%;
        width: 100%;
        background-size: cover;
        background-position: center top;
        background-repeat: no-repeat;
    }
    
    .header-container {
        padding: 3% 7%
    }

    .hero-text {
        margin-top: 14%;
    }

    .hero-btn {
        margin-top: 6%;
    }

    .hero-info {
        margin-top: 3.5%;
    }

    .menu-icon,
    .menu-toggle
    {
        display: none;
    }

    /* 
    Tablet view
    Results section - Braden Chance
    */

    .our-results {
        background-size: cover;
        background-repeat: no-repeat;
        height: 876px;
    }

    .results-text {
        margin-top: 5%;
    }

    .our-results h1 {
        margin-bottom: 3%;
    }

    .our-results p {
        margin-top: 3%;
        margin-bottom: 7%;
    }
    
    .results {
        display: flex;
        flex-wrap: wrap;
        width: 60%
    }
    
    .result-shapes {
        margin-top: 5%;
    }
    
}

@media (max-width: 375px) {
    /* 
    Mobile view
    Header and hero section attempt - Braden Chance
    */
    
    .header-container {
        display: flex;
        justify-content: center;
    }
    
    .header-links {
        display: none;
        flex-direction: column;
        text-align: center;
    }

    .logo {
        display: inline-block;
        margin: 0 auto;
    }

    .menu-icon {
        display: block;
        cursor: pointer;
        position: absolute;
        left: 5%;
        margin-top: -6%;
    }

    .menu-toggle {
        display: none;
    }

    .menu-toggle:checked + .menu-icon + .header-links {
        display: flex;
        position: absolute;
    }

    .hero-text {
        margin: 0 5%;
        width: 357px;
        margin-top: 35%;
    }
    
    .hero-title {
        width: 357px;
        height: 80px;
        margin-bottom: 2%;
    }
    
    .hero-subtitle {
        margin-bottom: 5%;
        width: 279px;
    }

    .hero-btn {
        margin-bottom: 15%;
    }

    .hero-info {
        width: 335px;
    }
    
    /*
    Mobile view
    Results section - Braden Chance
    */

    .our-results {
        background-size: cover;
        background-repeat: no-repeat;
        width: 100vh;
        height: 1491px;
    }

    .results-text {
    }

    .our-results h1 {
        width: 266px;
    }

    .our-results p {
        width: 305px;
    }
    
    .results {
    }
    
    .result-shapes {
    }
}

/* What we do section - Dacoda Takagi */


.what-we-do {
    text-align: center;
}

.wwd-top-text {
    height: 20vh;
    margin: 75px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.wwd-top-text h1 {
    margin-top: 10px;
    font-size: 32px;
}

.wwd-top-text p {
    width: 50%;
    max-width: 650px;
    text-align: center;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 26px;
}

.wwd-icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin: 0 auto;
    margin-bottom: 70px;
    width: 100%;
    max-width: 1400px;
}

.wwd-icon img {
    margin-bottom: 10px;
}

.wwd-icon h1 {
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 10px;
}

.wwd-icon p {
    font-size: 14px;
    line-height: 26px;
    width: 70%;
    margin: 0 auto;
}

/* Tablet View - Dacoda Takagi */

@media (max-width: 768px) {
    .wwd-top-text {
        margin: 50px auto;
        max-width: 90%;
        text-align: center;
    }

    .wwd-top-text h1 {
        font-size: 28px;
        margin-bottom: 20px;
    }

    .wwd-top-text p {
        width: 80%;
        margin: 0 auto;
        font-size: 14px;
        line-height: 24px;
    }

    .wwd-icon {
        justify-content: space-between;
        gap: 30px;
        flex-wrap: wrap;
    }

    .wwd-icon div {
        width: 45%;
        margin-bottom: 20px;
    }
}

/* Mobile View - Dacoda Takagi */

@media (max-width: 375px) {
    .wwd-top-text p {
        width: 94%;
        font-size: 16px;
        line-height: 26px;
        text-align: center;
    }

    .wwd-icon {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 50px;
        width: 50%;
        padding-top: 100px;
    }

    .wwd-icon div {
        width: 100%;
        margin-bottom: 20px;
        text-align: center;
    }

    .wwd-icon p {
        width: 100%;
    }

    .contact-form {
        width: 90%;
        margin: 0 auto;
    }
}

/* Contact Us section - Dacoda Takagi */

.contact-us {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.contact {
    text-align: center;
    width: 100%;
    max-width: 400px;
}

.contact h1 {
    font-size: 32px;
    line-height: 37.5px;
    padding-bottom: 50px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 20px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    border: none;
    border-bottom: 1px solid rgba(7, 22, 41, .17) ;
    resize: none;
    padding-bottom: 10px;
    font-size: 16px;
    padding-left: 5px;
}

input::placeholder,
textarea::placeholder {
    color: #071629;
    font-size: 14px;
}

button {
    height: 44px;
    width: 162px;
    background-color: #FF6565;
    color: #FFFFFF;
    border-radius: 22px;
    border: none;
    margin: 50px 0;
    font-size: 16px;
}